
@font-face {
  font-family: "Figtree";
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
  src:url("../assets/fonts/Figtree-VariableFont_wght.ttf");

}
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --Black: hsl(0, 0%, 0%);
    --Blue:hsl(228, 45%, 44%);
}

body{
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    font-family: "Figtree",sans-serif;
    
}

main{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width:20rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding:1.3em;
    border-radius: 1.2em;
    border: 1px solid var(--Black);
    box-shadow: 8px 8px var(--Black); 
}

i{
    font-style: normal;
    font-weight: bold;
    background-color: var(--Yellow);
    padding:0.4em 0.8em;
    width: fit-content;
    border-radius: 0.3em ;
    font-size: 0.85em;
    margin-top: 1.3rem;
}

.card__date{
    font-size: 0.8em;
    margin-top: 1em ;
    margin-bottom: 0.5em;
}

h1{
    font-size: 1.4em;
    font-weight:800;
    margin: 0.5em 0;
    display: inline;
    color:var(--Gray-950)
}

h1:hover{
    color:var(--Yellow);
    cursor:pointer;
}

.card__description{
    margin-top:0.4em;
    color: var(--Gray-500);
    line-height: 1.5em;
    font-weight: 500;
}
img{
    width:100%;
    border-radius: 0.8em;
}

figure{  
    display: flex;
    align-items: center;
    gap:0.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0.5em;
}

figure>img{
    width:12%;
}

figcaption{
    font-size: 0.9rem;
    font-weight: 800;
    color:var(--Gray-950);
}
.attribution { 
    font-size: 11px;
     text-align: center; 
}

.attribution a { 
    color: var(--Blue);
}

@media screen and (max-width:480px){
    .card{
        width:17rem;
    }
    h1{
        font-size: 1.3em;
    }
    .card__description{
        font-size: 0.8em;
    }
}

